<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Games</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1983/1983636.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {%load static%}

    <link rel="stylesheet" href="{% static 'other.css'%}" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>

</head>

<body class="fadeout">

    <input type="checkbox" id="check" />
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    
<div class="sidebar">
    <header>Black Jack</header>
    <ul>
        <li>
            <a href="/lobby"><i class="fas fa-qrcode"></i>My Page</a>
        </li>
        <li>
            <a href="/lobby/howto"><i class="fas fa-link"></i>How to play</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-stream"></i>Ranking</a>
        </li>
        <li>
            <a href="/lobby/strategy"><i class="fas fa-calendar-week"></i>Strategy</a>
        </li>
        <li>
            <a href="/lobby/other"><i class="fas fa-question-circle"></i>Other games</a>
        </li>
        <li>
            <a href="/lobby/services"><i class="fas fa-sliders-h"></i>Services</a>
        </li>
        <li>
            <a href="logout"><i class="fas fa-envelope"></i>Log out</a>
        </li>
    </ul>   
</div>
<body class="fadeout">

<div class="container">

    <div class="col-md-4 rule-block-header">
        <h1 class="block-heading">
            <span>Other Types of Games:</span>
            <strong>Blackjack</strong>
        </h1>
            <ul class="accentuated-list list-unstyled">
                <li>
                    "Game Type: Casino"
                </li>
                <li>
                    "Age Requirement: 21+"
                </li>
                <li>
                    "Players: 2, 3, 4, 5+"
                </li>
            </ul>
    </div>
    <div class="col-md-8 larger-text">
        <p><h3>Types of Games You Can Try Yourself!</h3></p>

        <p><h3>GAME ONE: SLOTS!</h3></p>

        <p>Slot machines are pretty much the same online as they are in the real world, with the objective of creating lines of matching symbols to score cash prizes.</p>
        <p>The range of online slots today is incredible, from classic 3-reel games with one or two ways to win to flashy, movie-themed slots with hundreds of ways to win 
            and multiple bonus features such as “free spins rounds” and “picking games” offering instant cash prizes.</p>
        <p>Jackpots also vary greatly and can range from a few hundred clams to several million.</p>
        <p>Slot machines are pretty much the same online as they are in the real world, with the objective of creating lines of matching symbols to score cash prizes.</p>

        <p>
            <h3>GAME TWO: ROULETTE</h3>
        </p>
        <p>Sometimes it’s nice to not have to think about your next move and to just relax, have fun, and let Lady Luck do her thing.</p>
        <p>Roulette is the ideal game if you like the sound of that. The objective of this game is to throw a ball onto a spinning wheel and bet on which number, 
            color, row, column, or square it will land in.</p>
        <p>If that sounds complex, don’t worry; it’s extremely easy once you start playing. To begin, you can just bet on red or black and learn from there.</p>
        <p>Most roulette players agree that there are few feelings more thrilling than going on a run and watching your money double several times in a row. On a streak of 
            five wins, a $10 starting bet could be worth $320 in under a minute.</p>
        <p>If you want to know more about this seriously fun game of pure chance, click the roulette button below.</p>

        <p>
            <h3>GAME THREE: CRAPS</h3>
        </p>
        <p>Gambling games featuring dice are about as old as civilization itself, and the undisputed king of casino dice games is craps.</p>
        <p>To put it as simply as possible, the objective is to place your bets on the craps table, picking from a number of possible outcomes once the dice are rolled.</p>
        <p>For example, on the “come out roll,” you simply bet on either the shooter or the casino to win. The shooter then rolls the dice and either wins or loses, and that’s literally it.</p>
        <p>Be aware that the craps table is enough to make most people’s heads spin when first encountered, but this game is a lot simpler than it first seems. Don’t be intimidated 
            by the slight learning curve involved, because this is one of the most rewarding casino games of all.</p>
        <p>To learn more about how to play craps and the odds and intricacies of the game, click the button below.</p>

        <p>
            <h3>GAME FOUR: BACCARAT</h3>
        </p>
        <p>Baccarat is a simple card game which has been preferred by the rich, aristocrats, kings, and people of importance throughout history. It’s known as a favorite 
            game of high-rollers. Yet today, anyone with any sort of bankroll can play baccarat online.</p>
        <p>It’s a remarkably simple game. You bet on either the player, the banker, or a tie, and when the cards are dealt, whoever has nine (or the closest to it without 
            exceeding it) wins. Tens and face cards are worth zero, so if you got a King and a five, your total would be five.</p>
        <p>This is one of the few card games you don’t participate in but simply bet on the outcome of.</p>
        <p>There are a few little intricacies, such as the banker’s cut and baccarat card values, that are worth knowing about before you start playing. Click the button below 
            to learn the rules, the odds, and how to play baccarat.</p>
    </div>
</div>

</section>

</body>

</html>