<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1983/1983636.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {%load static%}

    <link rel="stylesheet" href="{% static 'services.css'%}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>

</head>

<section class="fadeout">
    <input type="checkbox" id="check" />
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
<div class="sidebar">
<header>Black Jack</header>
<ul>
<li>
    <a href="/lobby"><i class="fas fa-qrcode"></i>My Page</a>
</li>
<li>
    <a href="/lobby/howto"><i class="fas fa-link"></i>How to play</a>
</li>
<li>
    <a href="#"><i class="fas fa-stream"></i>Ranking</a>
</li>
<li>
    <a href="/lobby/strategy"><i class="fas fa-calendar-week"></i>Strategy</a>
</li>
<li>
    <a href="/lobby/other"><i class="fas fa-question-circle"></i>Other games</a>
</li>
<li>
    <a href="/lobby/services"><i class="fas fa-sliders-h"></i>Services</a>
</li>
<li>
    <a href="/logout"><i class="fas fa-envelope"></i>Log out</a>
</li>
</ul>
</div>

<section class="fadeout">

<div class="container">
<div class="col-md-4 rule-block-header">
    <h1 class="block-heading">
        <span>NATIONAL PROBLEM GAMBLING HELPLINE: </span><br>
        <strong>1-800-522-4700</strong>
    </h1>
    <ul class="accentuated-list list-unstyled">
        <li>
            "Help is also available via an online peer support forum at 
            <a href="https://www.gamtalk.org/">GamTalk</a>"
        </li>
        <li>
            It is okay to ASK FOR HELP!
        </li>

    </ul>
</div>

<div class="col-md-8 larger-text">
            <p><h3>What is Problem Gambling?</h3></p>
    <p>
        "The National Council on Problem Gambling operates the National Problem Gambling 
        Helpline Network (1-800-522-4700). The network is a single national access point 
        to local resources for those seeking help for a gambling problem. The network 
        consists of 28 call centers which provide resources and referrals for all 50 states, 
        Canada and the US Virgin Islands. Help is available 24/7 and is 100% confidential."
    </p>

    <p>
        Problem gambling–or gambling addiction–includes all gambling behavior patterns that compromise, disrupt or damage 
        personal, family or vocational pursuits. The symptoms include increasing preoccupation with gambling, a need to bet more money 
        more frequently, restlessness or irritability when attempting to stop, “chasing” losses, and loss of control manifested by 
        continuation of the gambling behavior in spite of mounting, serious, negative consequences. In extreme cases, problem gambling 
        can result in financial ruin, legal problems, loss of career and family, or even suicide. For more information on the American 
        Psychiatric Association’s criteria for gambling addiction, please see the DSM 5 at <a href="https://www.psych.org/">psych.org</a>    
    </p>
    <p>
        <h3>Isn't problem gambling just a financial problem?</h3>
    </p>
    <p>
        No. Problem gambling is an emotional problem that has financial consequences. If you pay all the debts of a person affected by 
        problem gambling, the person still has a gambling problem or gambling disorder. The real issue is that they have an uncontrollable 
        obsession with gambling.
    </p>
    <p>
        <h3>Who is at risk for problem gambling?</h3>
    </p>
    <p>
        Anyone who gambles can develop problems. This is why it is important to be aware of the risks and to gamble in a responsible way, 
        if you choose to gamble. When gambling behavior interferes with finances, relationships and the workplace, a serious problem 
        already exists.
    </p>
    <p>
        <h3>Do casinos, lotteries and other types of gambling “cause” problem gambling?</h3>
    </p>
    <p>
        The cause of a gambling problem is the individual’s inability to control the gambling. This may be due in part to a person’s genetic 
        tendency to develop addiction, their ability to cope with normal life stress and even their social upbringing and moral attitudes 
        about gambling. The casino or lottery provides the opportunity for the person to gamble. It does not, in and of itself, create the 
        problem any more than a liquor store would create alcohol problems.
    </p>
    <p>
        <h3>What types of gambling cause the most problem gambling?</h3>
    </p>
    <p>
        Again, the cause of a gambling problem is the individual’s inability to control the gambling. Therefore, any type of gambling can 
        become problematic, just as someone with an alcohol problem can get drunk on any type of alcohol. But some types of gambling have 
        different characteristics that may exacerbate gambling problems. While these factors are still poorly understood, anecdotal reports 
        indicate that one risk factor may be a fast speed of play. In other words, the faster the wager to response time with a game, the 
        more likely players may be to develop problems with a particular game.    
    </p>
    <p>
        <h3>What is the responsibility of the gaming industry?</h3>
    </p>
    <p>
        Everyone who provides gambling opportunities has a responsibility to develop policies and programs to address underage and 
        problem gambling issues.
    </p>
    <p>
        <h3>Can you have a gambling problem if you don't gamble every day?</h3>
    </p>
    <p>
        The frequency of a person’s gambling does not determine whether or not they have a gambling problem. Even though a person may only 
        go on periodic gambling binges, the emotional and financial consequences will still be evident in the individual’s life, including 
        the effects on the family.
    </p>
  </div>
</div>

</section>

</body>
</html>
